<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.osax.LapTime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>LpTmStTm</key>
			<string>startTimerHandler</string>
			<key>LpTmLpTm</key>
			<string>lapTimeHandler</string>
			<key>LpTmSpTm</key>
			<string>stopTimerHandler</string>
			<key>LpTmGtMs</key>
			<string>getmsecHandler</string>
		</dict>
	</dict>
</dict>
</plist>
