<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.osax.LapTime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>osax</string>
	<key>CFBundleSignature</key>
	<string>ascr</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFBundleDisplayName</key>
	<string>1.0 for 10.6, copyright 2010, Tetsuro KURITA</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>for 10.6, copyright 2010, Tetsuro KURITA</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>OSAScriptingDefinition</key>
	<string>${PRODUCT_NAME}.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>LpTmStTm</key>
			<dict>
				<key>Handler</key>
				<string>startTimerHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>LpTmVers</key>
			<dict>
				<key>Handler</key>
				<string>versionHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>LpTmLpTm</key>
			<dict>
				<key>Handler</key>
				<string>lapTimeHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>LpTmSpTm</key>
			<dict>
				<key>Handler</key>
				<string>stopTimerHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
			<key>LpTmGtMs</key>
			<dict>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
				<key>Handler</key>
				<string>getmsecHandler</string>
			</dict>
			<key>LpTmTmRc</key>
			<dict>
				<key>Handler</key>
				<string>timeRecordsOfHandler</string>
				<key>ThreadSafe</key>
				<true/>
				<key>Context</key>
				<string>Machine</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
